In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/karthikrpatil/opt/anaconda3/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /Users/karthikrpatil/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install findspark

Requirement already satisfied: findspark in /Users/karthikrpatil/opt/anaconda3/lib/python3.9/site-packages (2.0.1)

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [5]:
spark= SparkSession.builder.appName('practise').getOrCreate()

In [6]:
spark

# Read the data frame

In [7]:
df= spark.read.csv('predict_property_data.csv', header= True, inferSchema= True)

In [8]:
df.head(5)

23/01/11 14:59:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

[Row(pid=1, meta_class=203, meta_town_code=35, meta_nbhd=35030, meta_certified_est_bldg=181470, meta_certified_est_land=33110, meta_cdu='NA', meta_deed_type='W', char_hd_sf=7791, char_age=52, char_apts='NA', char_ext_wall='1', char_roof_cnst='1', char_rooms=5, char_beds=4, char_bsmt='3', char_bsmt_fin='1', char_heat='1', char_oheat='5', char_air='1', char_frpl='0', char_attic_type='3', char_fbath=2, char_hbath=1, char_tp_plan='2', char_tp_dsgn='2', char_cnst_qlty='2', char_site='2', char_gar1_size='3', char_gar1_cnst='1', char_gar1_att='1', char_gar1_area='2', char_ot_impr=0, char_bldg_sf=1390, char_repair_cnd='2', char_use='1', char_type_resd='1', char_attic_fnsh='NA', char_renovation='NA', char_porch='NA', geo_property_city='HANOVER PARK', geo_property_zip='60133', geo_tract_pop=4056, geo_white_perc=0.5295857988165681, geo_black_perc=0.01898422090729783, geo_asian_perc=0.05571992110453649, geo_his_perc=0.3375246548323471, geo_other_perc=0.11637080867850098, geo_fips='32746', geo_municipality='Hanover Park', geo_ohare_noise=0, geo_floodplain=0, geo_fs_flood_factor=1, geo_fs_flood_risk_direction=0, geo_withinmr100=0, geo_withinmr101300=0, geo_school_elem_district='SCHOOL DISTRICT C C 54', geo_school_hs_district='PALATINE TOWNSHIP HIGH SCHOOL  211', econ_tax_rate=10.763, econ_midincome=73313, ind_large_home=False, ind_garage='TRUE', ind_arms_length=True),
 Row(pid=2, meta_class=207, meta_town_code=29, meta_nbhd=29060, meta_certified_est_bldg=328800, meta_certified_est_land=8420, meta_cdu='NA', meta_deed_type='O', char_hd_sf=2408, char_age=5, char_apts='NA', char_ext_wall='1', char_roof_cnst='1', char_rooms=7, char_beds=3, char_bsmt='2', char_bsmt_fin='3', char_heat='1', char_oheat='5', char_air='1', char_frpl='0', char_attic_type='3', char_fbath=2, char_hbath=1, char_tp_plan='2', char_tp_dsgn='2', char_cnst_qlty='2', char_site='2', char_gar1_size='3', char_gar1_cnst='1', char_gar1_att='1', char_gar1_area='1', char_ot_impr=0, char_bldg_sf=1900, char_repair_cnd='2', char_use='1', char_type_resd='2', char_attic_fnsh='NA', char_renovation='NA', char_porch='NA', geo_property_city='PALATINE', geo_property_zip='60067', geo_tract_pop=2855, geo_white_perc=0.7765323992994746, geo_black_perc=0.00700525394045534, geo_asian_perc=0.07915936952714536, geo_his_perc=0.1190893169877408, geo_other_perc=0.03642732049036777, geo_fips='57225', geo_municipality='Palatine', geo_ohare_noise=0, geo_floodplain=0, geo_fs_flood_factor=1, geo_fs_flood_risk_direction=0, geo_withinmr100=0, geo_withinmr101300=0, geo_school_elem_district='SCHOOL DISTRICT C C  15', geo_school_hs_district='PALATINE TOWNSHIP HIGH SCHOOL  211', econ_tax_rate=9.835, econ_midincome=91122, ind_large_home=False, ind_garage='TRUE', ind_arms_length=True),
 Row(pid=3, meta_class=203, meta_town_code=39, meta_nbhd=39080, meta_certified_est_bldg=195750, meta_certified_est_land=29760, meta_cdu='NA', meta_deed_type='W', char_hd_sf=4960, char_age=73, char_apts='NA', char_ext_wall='2', char_roof_cnst='1', char_rooms=5, char_beds=2, char_bsmt='1', char_bsmt_fin='3', char_heat='1', char_oheat='5', char_air='1', char_frpl='1', char_attic_type='3', char_fbath=1, char_hbath=0, char_tp_plan='1', char_tp_dsgn='NA', char_cnst_qlty='2', char_site='2', char_gar1_size='2', char_gar1_cnst='1', char_gar1_att='1', char_gar1_area='1', char_ot_impr=0, char_bldg_sf=1023, char_repair_cnd='2', char_use='1', char_type_resd='1', char_attic_fnsh='NA', char_renovation='NA', char_porch='1', geo_property_city='EVERGREEN PARK', geo_property_zip='60805', geo_tract_pop=4691, geo_white_perc=0.7930078874440418, geo_black_perc=0.19185674696226815, geo_asian_perc=0.0, geo_his_perc=0.01513536559369004, geo_other_perc=0.0, geo_fips='24634', geo_municipality='Evergreen Park', geo_ohare_noise=0, geo_floodplain=0, geo_fs_flood_factor=3, geo_fs_flood_risk_direction=1, geo_withinmr100=0, geo_withinmr101300=0, geo_school_elem_district='SCHOOL DISTRICT  124', geo_school_hs_district='COMMUNITY HIGH SCHOOL  231', econ_tax_rate=13.318, econ_midincome=87500, ind_large_home=False, ind_garage='TRUE', ind_arms_length=True),
 Row(pid=4, meta_class=211, meta_town_code=72, meta_nbhd=72150, meta_certified_est_bldg=81620, meta_certified_est_land=30240, meta_cdu='NA', meta_deed_type='O', char_hd_sf=3780, char_age=94, char_apts='2', char_ext_wall='1', char_roof_cnst='1', char_rooms=7, char_beds=4, char_bsmt='2', char_bsmt_fin='3', char_heat='1', char_oheat='5', char_air='2', char_frpl='0', char_attic_type='3', char_fbath=2, char_hbath=0, char_tp_plan='2', char_tp_dsgn='2', char_cnst_qlty='2', char_site='2', char_gar1_size='7', char_gar1_cnst='NA', char_gar1_att='NA', char_gar1_area='NA', char_ot_impr=0, char_bldg_sf=2458, char_repair_cnd='2', char_use='2', char_type_resd='2', char_attic_fnsh='NA', char_renovation='NA', char_porch='NA', geo_property_city='CHICAGO', geo_property_zip='60629', geo_tract_pop=5157, geo_white_perc=0.00523560209424083, geo_black_perc=0.8576691875121194, geo_asian_perc=0.00174520069808027, geo_his_perc=0.12371533837502424, geo_other_perc=0.02326934264107039, geo_fips='14000', geo_municipality='Chicago', geo_ohare_noise=0, geo_floodplain=0, geo_fs_flood_factor=1, geo_fs_flood_risk_direction=0, geo_withinmr100=0, geo_withinmr101300=0, geo_school_elem_district='MCKAY', geo_school_hs_district='GAGE PARK HS', econ_tax_rate=6.934, econ_midincome=31310, ind_large_home=False, ind_garage='FALSE', ind_arms_length=True),
 Row(pid=5, meta_class=278, meta_town_code=28, meta_nbhd=28036, meta_certified_est_bldg=216050, meta_certified_est_land=95980, meta_cdu='NA', meta_deed_type='W', char_hd_sf=17451, char_age=45, char_apts='NA', char_ext_wall='3', char_roof_cnst='1', char_rooms=7, char_beds=4, char_bsmt='3', char_bsmt_fin='3', char_heat='1', char_oheat='5', char_air='1', char_frpl='1', char_attic_type='3', char_fbath=2, char_hbath=1, char_tp_plan='2', char_tp_dsgn='2', char_cnst_qlty='2', char_site='2', char_gar1_size='3', char_gar1_cnst='2', char_gar1_att='1', char_gar1_area='1', char_ot_impr=0, char_bldg_sf=2439, char_repair_cnd='2', char_use='1', char_type_resd='2', char_attic_fnsh='NA', char_renovation='NA', char_porch='NA', geo_property_city='ORLAND PARK', geo_property_zip='60462', geo_tract_pop=7020, geo_white_perc=0.8626780626780627, geo_black_perc=0.02008547008547008, geo_asian_perc=0.01039886039886039, geo_his_perc=0.0737891737891738, geo_other_perc=0.0660968660968661, geo_fips='56640', geo_municipality='Orland Park', geo_ohare_noise=0, geo_floodplain=0, geo_fs_flood_factor=6, geo_fs_flood_risk_direction=-1, geo_withinmr100=0, geo_withinmr101300=0, geo_school_elem_district='SCHOOL DISTRICT  135', geo_school_hs_district='CONSOLIDATED HIGH SCHOOL  230', econ_tax_rate=9.413, econ_midincome=91250, ind_large_home=False, ind_garage='TRUE', ind_arms_length=True)]

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

# Data types inference

In [10]:
df.dtypes

[('pid', 'int'),
 ('meta_class', 'int'),
 ('meta_town_code', 'int'),
 ('meta_nbhd', 'int'),
 ('meta_certified_est_bldg', 'int'),
 ('meta_certified_est_land', 'int'),
 ('meta_cdu', 'string'),
 ('meta_deed_type', 'string'),
 ('char_hd_sf', 'int'),
 ('char_age', 'int'),
 ('char_apts', 'string'),
 ('char_ext_wall', 'string'),
 ('char_roof_cnst', 'string'),
 ('char_rooms', 'int'),
 ('char_beds', 'int'),
 ('char_bsmt', 'string'),
 ('char_bsmt_fin', 'string'),
 ('char_heat', 'string'),
 ('char_oheat', 'string'),
 ('char_air', 'string'),
 ('char_frpl', 'string'),
 ('char_attic_type', 'string'),
 ('char_fbath', 'int'),
 ('char_hbath', 'int'),
 ('char_tp_plan', 'string'),
 ('char_tp_dsgn', 'string'),
 ('char_cnst_qlty', 'string'),
 ('char_site', 'string'),
 ('char_gar1_size', 'string'),
 ('char_gar1_cnst', 'string'),
 ('char_gar1_att', 'string'),
 ('char_gar1_area', 'string'),
 ('char_ot_impr', 'int'),
 ('char_bldg_sf', 'int'),
 ('char_repair_cnd', 'string'),
 ('char_use', 'string'),
 ('char_type_resd', 'string'),
 ('char_attic_fnsh', 'string'),
 ('char_renovation', 'string'),
 ('char_porch', 'string'),
 ('geo_property_city', 'string'),
 ('geo_property_zip', 'string'),
 ('geo_tract_pop', 'int'),
 ('geo_white_perc', 'double'),
 ('geo_black_perc', 'double'),
 ('geo_asian_perc', 'double'),
 ('geo_his_perc', 'double'),
 ('geo_other_perc', 'double'),
 ('geo_fips', 'string'),
 ('geo_municipality', 'string'),
 ('geo_ohare_noise', 'int'),
 ('geo_floodplain', 'int'),
 ('geo_fs_flood_factor', 'int'),
 ('geo_fs_flood_risk_direction', 'int'),
 ('geo_withinmr100', 'int'),
 ('geo_withinmr101300', 'int'),
 ('geo_school_elem_district', 'string'),
 ('geo_school_hs_district', 'string'),
 ('econ_tax_rate', 'double'),
 ('econ_midincome', 'int'),
 ('ind_large_home', 'boolean'),
 ('ind_garage', 'string'),
 ('ind_arms_length', 'boolean')]

In [11]:
df.printSchema()

root
 |-- pid: integer (nullable = true)
 |-- meta_class: integer (nullable = true)
 |-- meta_town_code: integer (nullable = true)
 |-- meta_nbhd: integer (nullable = true)
 |-- meta_certified_est_bldg: integer (nullable = true)
 |-- meta_certified_est_land: integer (nullable = true)
 |-- meta_cdu: string (nullable = true)
 |-- meta_deed_type: string (nullable = true)
 |-- char_hd_sf: integer (nullable = true)
 |-- char_age: integer (nullable = true)
 |-- char_apts: string (nullable = true)
 |-- char_ext_wall: string (nullable = true)
 |-- char_roof_cnst: string (nullable = true)
 |-- char_rooms: integer (nullable = true)
 |-- char_beds: integer (nullable = true)
 |-- char_bsmt: string (nullable = true)
 |-- char_bsmt_fin: string (nullable = true)
 |-- char_heat: string (nullable = true)
 |-- char_oheat: string (nullable = true)
 |-- char_air: string (nullable = true)
 |-- char_frpl: string (nullable = true)
 |-- char_attic_type: string (nullable = true)
 |-- char_fbath: integer (nullable = true)
 |-- char_hbath: integer (nullable = true)
 |-- char_tp_plan: string (nullable = true)
 |-- char_tp_dsgn: string (nullable = true)
 |-- char_cnst_qlty: string (nullable = true)
 |-- char_site: string (nullable = true)
 |-- char_gar1_size: string (nullable = true)
 |-- char_gar1_cnst: string (nullable = true)
 |-- char_gar1_att: string (nullable = true)
 |-- char_gar1_area: string (nullable = true)
 |-- char_ot_impr: integer (nullable = true)
 |-- char_bldg_sf: integer (nullable = true)
 |-- char_repair_cnd: string (nullable = true)
 |-- char_use: string (nullable = true)
 |-- char_type_resd: string (nullable = true)
 |-- char_attic_fnsh: string (nullable = true)
 |-- char_renovation: string (nullable = true)
 |-- char_porch: string (nullable = true)
 |-- geo_property_city: string (nullable = true)
 |-- geo_property_zip: string (nullable = true)
 |-- geo_tract_pop: integer (nullable = true)
 |-- geo_white_perc: double (nullable = true)
 |-- geo_black_perc: double (nullable = true)
 |-- geo_asian_perc: double (nullable = true)
 |-- geo_his_perc: double (nullable = true)
 |-- geo_other_perc: double (nullable = true)
 |-- geo_fips: string (nullable = true)
 |-- geo_municipality: string (nullable = true)
 |-- geo_ohare_noise: integer (nullable = true)
 |-- geo_floodplain: integer (nullable = true)
 |-- geo_fs_flood_factor: integer (nullable = true)
 |-- geo_fs_flood_risk_direction: integer (nullable = true)
 |-- geo_withinmr100: integer (nullable = true)
 |-- geo_withinmr101300: integer (nullable = true)
 |-- geo_school_elem_district: string (nullable = true)
 |-- geo_school_hs_district: string (nullable = true)
 |-- econ_tax_rate: double (nullable = true)
 |-- econ_midincome: integer (nullable = true)
 |-- ind_large_home: boolean (nullable = true)
 |-- ind_garage: string (nullable = true)
 |-- ind_arms_length: boolean (nullable = true)

In [12]:
df.columns

['pid',
 'meta_class',
 'meta_town_code',
 'meta_nbhd',
 'meta_certified_est_bldg',
 'meta_certified_est_land',
 'meta_cdu',
 'meta_deed_type',
 'char_hd_sf',
 'char_age',
 'char_apts',
 'char_ext_wall',
 'char_roof_cnst',
 'char_rooms',
 'char_beds',
 'char_bsmt',
 'char_bsmt_fin',
 'char_heat',
 'char_oheat',
 'char_air',
 'char_frpl',
 'char_attic_type',
 'char_fbath',
 'char_hbath',
 'char_tp_plan',
 'char_tp_dsgn',
 'char_cnst_qlty',
 'char_site',
 'char_gar1_size',
 'char_gar1_cnst',
 'char_gar1_att',
 'char_gar1_area',
 'char_ot_impr',
 'char_bldg_sf',
 'char_repair_cnd',
 'char_use',
 'char_type_resd',
 'char_attic_fnsh',
 'char_renovation',
 'char_porch',
 'geo_property_city',
 'geo_property_zip',
 'geo_tract_pop',
 'geo_white_perc',
 'geo_black_perc',
 'geo_asian_perc',
 'geo_his_perc',
 'geo_other_perc',
 'geo_fips',
 'geo_municipality',
 'geo_ohare_noise',
 'geo_floodplain',
 'geo_fs_flood_factor',
 'geo_fs_flood_risk_direction',
 'geo_withinmr100',
 'geo_withinmr101300',
 'geo_school_elem_district',
 'geo_school_hs_district',
 'econ_tax_rate',
 'econ_midincome',
 'ind_large_home',
 'ind_garage',
 'ind_arms_length']

# Indexing in dataframes

In [13]:
df1= df.select('char_age',
 'char_apts',
 'char_ext_wall',
 'char_rooms',
 'char_beds'
 
 )

In [14]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [15]:
df1.describe().show()

+-------+-----------------+------------------+-----------------+-----------------+-----------------+
|summary|         char_age|         char_apts|    char_ext_wall|       char_rooms|        char_beds|
+-------+-----------------+------------------+-----------------+-----------------+-----------------+
|  count|            10000|             10000|            10000|            10000|            10000|
|   mean|          67.9085|2.6707416462917686|1.983991995997999|            7.116|           3.5825|
| stddev|31.84812644514282|1.0908860255030057|0.796319249135604|3.053043744791543|1.444853802379684|
|    min|                1|                 1|                1|                0|                0|
|    max|              157|                NA|               NA|               42|               20|
+-------+-----------------+------------------+-----------------+-----------------+-----------------+

# Feature engineering- Addition, deletion and manipulation of columns

In [16]:
df2=df1.withColumn('Age after 2 years',df['char_age']+ 2)

In [17]:
df2.show()

+--------+---------+-------------+----------+---------+-----------------+
|char_age|char_apts|char_ext_wall|char_rooms|char_beds|Age after 2 years|
+--------+---------+-------------+----------+---------+-----------------+
|      52|       NA|            1|         5|        4|               54|
|       5|       NA|            1|         7|        3|                7|
|      73|       NA|            2|         5|        2|               75|
|      94|        2|            1|         7|        4|               96|
|      45|       NA|            3|         7|        4|               47|
|     122|        2|            2|        12|        6|              124|
|      35|       NA|            3|         6|        3|               37|
|      96|       NA|            2|         8|        4|               98|
|      53|       NA|            3|         6|        3|               55|
|      27|       NA|            3|         9|        5|               29|
|      98|       NA|            1|         6|        3|              100|
|      14|       NA|            2|         7|        4|               16|
|      96|       NA|            2|         6|        2|               98|
|      76|       NA|            3|         6|        3|               78|
|     122|       NA|            1|         5|        2|              124|
|      69|       NA|            2|         7|        3|               71|
|      64|       NA|            3|         7|        3|               66|
|      66|       NA|            2|         6|        3|               68|
|     103|        2|            1|         6|        4|              105|
|      68|       NA|            3|         5|        3|               70|
+--------+---------+-------------+----------+---------+-----------------+
only showing top 20 rows

In [18]:
df3= df2.drop('Age after 2 years')

In [19]:
df3.show()

+--------+---------+-------------+----------+---------+
|char_age|char_apts|char_ext_wall|char_rooms|char_beds|
+--------+---------+-------------+----------+---------+
|      52|       NA|            1|         5|        4|
|       5|       NA|            1|         7|        3|
|      73|       NA|            2|         5|        2|
|      94|        2|            1|         7|        4|
|      45|       NA|            3|         7|        4|
|     122|        2|            2|        12|        6|
|      35|       NA|            3|         6|        3|
|      96|       NA|            2|         8|        4|
|      53|       NA|            3|         6|        3|
|      27|       NA|            3|         9|        5|
|      98|       NA|            1|         6|        3|
|      14|       NA|            2|         7|        4|
|      96|       NA|            2|         6|        2|
|      76|       NA|            3|         6|        3|
|     122|       NA|            1|         5|        2|
|      69|       NA|            2|         7|        3|
|      64|       NA|            3|         7|        3|
|      66|       NA|            2|         6|        3|
|     103|        2|            1|         6|        4|
|      68|       NA|            3|         5|        3|
+--------+---------+-------------+----------+---------+
only showing top 20 rows

In [20]:
df4=df3.withColumnRenamed('char_rooms', 'no_of_rooms')

In [21]:
df4.show()

+--------+---------+-------------+-----------+---------+
|char_age|char_apts|char_ext_wall|no_of_rooms|char_beds|
+--------+---------+-------------+-----------+---------+
|      52|       NA|            1|          5|        4|
|       5|       NA|            1|          7|        3|
|      73|       NA|            2|          5|        2|
|      94|        2|            1|          7|        4|
|      45|       NA|            3|          7|        4|
|     122|        2|            2|         12|        6|
|      35|       NA|            3|          6|        3|
|      96|       NA|            2|          8|        4|
|      53|       NA|            3|          6|        3|
|      27|       NA|            3|          9|        5|
|      98|       NA|            1|          6|        3|
|      14|       NA|            2|          7|        4|
|      96|       NA|            2|          6|        2|
|      76|       NA|            3|          6|        3|
|     122|       NA|            1|          5|        2|
|      69|       NA|            2|          7|        3|
|      64|       NA|            3|          7|        3|
|      66|       NA|            2|          6|        3|
|     103|        2|            1|          6|        4|
|      68|       NA|            3|          5|        3|
+--------+---------+-------------+-----------+---------+
only showing top 20 rows

# Handling null values

In [22]:
df5= df4.na.drop(how='any',subset=['no_of_rooms'])

In [23]:
df5.show()

+--------+---------+-------------+-----------+---------+
|char_age|char_apts|char_ext_wall|no_of_rooms|char_beds|
+--------+---------+-------------+-----------+---------+
|      52|       NA|            1|          5|        4|
|       5|       NA|            1|          7|        3|
|      73|       NA|            2|          5|        2|
|      94|        2|            1|          7|        4|
|      45|       NA|            3|          7|        4|
|     122|        2|            2|         12|        6|
|      35|       NA|            3|          6|        3|
|      96|       NA|            2|          8|        4|
|      53|       NA|            3|          6|        3|
|      27|       NA|            3|          9|        5|
|      98|       NA|            1|          6|        3|
|      14|       NA|            2|          7|        4|
|      96|       NA|            2|          6|        2|
|      76|       NA|            3|          6|        3|
|     122|       NA|            1|          5|        2|
|      69|       NA|            2|          7|        3|
|      64|       NA|            3|          7|        3|
|      66|       NA|            2|          6|        3|
|     103|        2|            1|          6|        4|
|      68|       NA|            3|          5|        3|
+--------+---------+-------------+-----------+---------+
only showing top 20 rows

In [24]:
mean= df['char_beds'].mean

In [25]:
df6= df5.na.fill('mean',['char_apts','char_beds'])

In [26]:
df6.show()

+--------+---------+-------------+-----------+---------+
|char_age|char_apts|char_ext_wall|no_of_rooms|char_beds|
+--------+---------+-------------+-----------+---------+
|      52|       NA|            1|          5|        4|
|       5|       NA|            1|          7|        3|
|      73|       NA|            2|          5|        2|
|      94|        2|            1|          7|        4|
|      45|       NA|            3|          7|        4|
|     122|        2|            2|         12|        6|
|      35|       NA|            3|          6|        3|
|      96|       NA|            2|          8|        4|
|      53|       NA|            3|          6|        3|
|      27|       NA|            3|          9|        5|
|      98|       NA|            1|          6|        3|
|      14|       NA|            2|          7|        4|
|      96|       NA|            2|          6|        2|
|      76|       NA|            3|          6|        3|
|     122|       NA|            1|          5|        2|
|      69|       NA|            2|          7|        3|
|      64|       NA|            3|          7|        3|
|      66|       NA|            2|          6|        3|
|     103|        2|            1|          6|        4|
|      68|       NA|            3|          5|        3|
+--------+---------+-------------+-----------+---------+
only showing top 20 rows

# Filtering and sorting

In [57]:
df7= df6.filter((df6.char_beds >= 4) & (df6.no_of_rooms >=2) & (df6.char_apts != 'NA'))

In [62]:
df8=df7.select('char_age','char_beds', 'no_of_rooms','char_apts')

In [63]:
df8.show()

+--------+---------+-----------+---------+
|char_age|char_beds|no_of_rooms|char_apts|
+--------+---------+-----------+---------+
|      94|        4|          7|        2|
|     122|        6|         12|        2|
|     103|        4|          6|        2|
|     157|        4|         12|        2|
|     142|        5|          8|        3|
|     117|        4|          6|        2|
|     107|        6|         12|        2|
|       3|        6|         15|        3|
|     132|        4|          8|        2|
|      14|        9|         15|        3|
|     107|        7|         13|        2|
|     101|        6|         10|        2|
|     100|        8|         20|        3|
|     106|        8|         16|        4|
|     132|        4|          6|        2|
|     129|        8|         16|        2|
|      90|        4|         11|        2|
|     112|        4|         10|        2|
|     108|        4|         10|        2|
|      30|        5|         18|        3|
+--------+---------+-----------+---------+
only showing top 20 rows

In [65]:
df8.count()

1150

In [66]:
len(df8.columns)

4

# Groupby and aggregate functions

In [82]:
df9= df8.groupby(['char_beds','no_of_rooms','char_apts']).count()

In [77]:
df9.show()

+---------+-----------+---------+-----+
|char_beds|no_of_rooms|char_apts|count|
+---------+-----------+---------+-----+
|        5|         11|        3|    9|
|        4|          7|        2|   40|
|        6|         16|        2|    3|
|        7|         11|        3|    1|
|        4|          9|        3|    1|
|        8|         16|        5|    2|
|       18|         36|        6|    8|
|        8|         10|        2|    1|
|        6|          9|        3|    6|
|       10|         28|        4|    1|
|        7|         12|        2|    4|
|        8|         24|        6|    2|
|        6|         11|        4|    1|
|        7|         15|        4|    3|
|        4|         16|        4|    1|
|        4|          9|        2|   28|
|       12|         27|        6|    2|
|       10|         25|        5|    1|
|        4|         10|        3|    6|
|       12|         24|        6|   18|
+---------+-----------+---------+-----+
only showing top 20 rows

In [104]:
df10= df9.sort(df9['count'].asc())

In [105]:
df11= df9.orderBy(['char_apts'],ascending=True)

In [106]:
df10.show()

+---------+-----------+---------+-----+
|char_beds|no_of_rooms|char_apts|count|
+---------+-----------+---------+-----+
|        8|         22|        4|    1|
|        7|         12|        1|    1|
|        9|         17|        3|    1|
|        4|         11|        3|    1|
|        6|          8|        4|    1|
|       10|         18|        4|    1|
|        6|         24|        6|    1|
|        8|         14|        4|    1|
|        8|         20|        2|    1|
|       10|         28|        4|    1|
|        7|         18|        3|    1|
|        4|         16|        4|    1|
|        5|         18|        3|    1|
|        4|          8|        1|    1|
|       14|         35|        6|    1|
|        8|          6|        3|    1|
|        6|         20|        5|    1|
|       11|         35|        6|    1|
|        8|         20|        6|    1|
|       15|         36|        6|    1|
+---------+-----------+---------+-----+
only showing top 20 rows

In [101]:
df11.show()

+---------+-----------+---------+-----+
|char_beds|no_of_rooms|char_apts|count|
+---------+-----------+---------+-----+
|        7|         11|        1|    1|
|        7|         12|        1|    1|
|        4|          8|        1|    1|
|        5|         12|        2|    7|
|        8|         10|        2|    1|
|        8|         20|        2|    1|
|        7|         14|        2|    2|
|        6|          9|        2|    6|
|        4|         15|        2|    2|
|        7|         12|        2|    4|
|        6|         12|        2|   99|
|        6|         14|        2|    8|
|        6|          8|        2|    3|
|        8|         13|        2|    2|
|        8|         12|        2|    2|
|        8|         17|        2|    1|
|        4|          7|        2|   40|
|        5|          9|        2|   21|
|        5|         14|        2|    1|
|        8|         14|        2|    3|
+---------+-----------+---------+-----+
only showing top 20 rows

In [109]:
df12= df9.agg({'count': 'sum'})

In [111]:
df12.show()

+----------+
|sum(count)|
+----------+
|      1150|
+----------+